.card 
{
    display : inline-block;
    border : 2px solid grey;
}

.User-name
{
    padding-left : 10px;
}

.quote
{
    padding : 10px;
}

input
{
    width : 95%;
}

img
{
    display : block;
    justify-content: center;
    max-width : 100%;
}

.age 
{
    border-top : 2px solid grey;
    padding : 10px;
    background-color : lightgray;
    font-size : large;
}